
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;    
}
button {
    padding: 20px 30px;
    font-size: 40px;
    border: 0px;
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.2s;
    outline: none;
}
span {
    font-size: 60px;
    font-weight: 400;
}
.crono {
    text-align: center;
}
#pantalla {
    border: 10px solid rgb(65, 165, 169);
    border-radius: 40px;
    display: inline-block;
    padding: 30px 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;  
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    justify-content: space-between;
}
.btnazul {
    background-color:  rgb(65, 165, 169);
}
.btnnegro {
    background-color: black;
    color: white;
}
button:hover {
    background-color: rgb(225, 128, 53);
}
#marcas {
    margin-top: 50px;
    padding: 20px 50px;
    text-align: center;
    background-color: rgb(65, 165, 169);
    border-radius: 40px;
    display: inline-block;
}
ul li {
    list-style: none;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}
